### FinanceDataReader ?
* 한국 주식 가격, 미국 주식 가격, 지수, 환율, 암호화폐 가격, 종목 리스팅 등 금융 데이터 수집 라이브러리

In [7]:
# 설치
!pip install -U finance-datareader

Collecting finance-datareader
  Downloading finance_datareader-0.9.20-py3-none-any.whl (16 kB)
Requirement already satisfied: lxml in /Users/jin/opt/anaconda3/envs/jin_env/lib/python3.7/site-packages (from finance-datareader) (4.6.2)
Requirement already satisfied: requests>=2.3.0 in /Users/jin/opt/anaconda3/envs/jin_env/lib/python3.7/site-packages (from finance-datareader) (2.25.1)
Requirement already satisfied: pandas>=0.19.2 in /Users/jin/opt/anaconda3/envs/jin_env/lib/python3.7/site-packages (from finance-datareader) (1.2.1)
Requirement already satisfied: numpy>=1.16.5 in /Users/jin/opt/anaconda3/envs/jin_env/lib/python3.7/site-packages (from pandas>=0.19.2->finance-datareader) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/jin/opt/anaconda3/envs/jin_env/lib/python3.7/site-packages (from pandas>=0.19.2->finance-datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/jin/opt/anaconda3/envs/jin_env/lib/python3.7/site-packages (from pandas>=0.19.2->finance-datareader) (2021.1)
Requirement already satisfied: six>=1.5 in /Users/jin/opt/anaconda3/envs/jin_env/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.15.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /Users/jin/opt/anaconda3/envs/jin_env/lib/python3.7/site-packages (from requests>=2.3.0->finance-datareader) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /Users/jin/opt/anaconda3/envs/jin_env/lib/python3.7/site-packages (from requests>=2.3.0->finance-datareader) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/jin/opt/anaconda3/envs/jin_env/lib/python3.7/site-packages (from requests>=2.3.0->finance-datareader) (1.26.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jin/opt/anaconda3/envs/jin_env/lib/python3.7/site-packages (from requests>=2.3.0->finance-datareader) (2020.12.5)
Collecting requests-file
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Collecting tqdm
  Downloading tqdm-4.56.2-py2.py3-none-any.whl (72 kB)
     |████████████████████████████████| 72 kB 1.3 MB/s eta 0:00:011
Installing collected packages: tqdm, requests-file, finance-datareader
Successfully installed finance-datareader-0.9.20 requests-file-1.5.1 tqdm-4.56.2

In [8]:
import pandas as pd

In [11]:
#FinanceeDataReader as pdr
import FinanceDataReader as fdr

fdr.__version__

'0.9.20'

In [10]:
#!pip install beautifulsoup4

Collecting beautifulsoup4
  Downloading beautifulsoup4-4.9.3-py3-none-any.whl (115 kB)
     |████████████████████████████████| 115 kB 2.0 MB/s eta 0:00:01
Collecting soupsieve>1.2
  Downloading soupsieve-2.2-py3-none-any.whl (33 kB)
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.9.3 soupsieve-2.2

### 한국거래소 상장 종목 전체 가져오기

In [12]:
#도움말을 볼때는 ? 를 사용하고 소스코드를 볼때는 ??
#주피터 노트북에서는 함수나 메소드의 괄호 안에서 shift+ tab 키를 누르면 도움말을 볼 수 있음
fdr.StockListing??

In [14]:
#KRX 
#KOSPI
#KOSDAQ 
#KONEX 
#NASDAQ
#NYSE
#SP500

df_krx = fdr.StockListing("KRX")
df_krx.shape

(7105, 10)

In [15]:
df_krx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7105 entries, 0 to 7104
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          7105 non-null   object
 1   Market          7105 non-null   object
 2   Name            7105 non-null   object
 3   Sector          2422 non-null   object
 4   Industry        2403 non-null   object
 5   ListingDate     2422 non-null   datetime64[ns]
 6   SettleMonth     2422 non-null   object
 7   Representative  2422 non-null   object
 8   HomePage        2246 non-null   object
 9   Region          2422 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 868.6+ KB

In [16]:
#object 타입은 문자열
#기술통계 값을 요약

df_krx.describe()

/Users/jin/opt/anaconda3/envs/jin_env/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  after removing the cwd from sys.path.

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
count,7105,7105,7105,2422,2403,2422,2422,2422,2246,2422
unique,7105,3,7105,158,2250,1784,9,2308,2225,22
top,57G102,KOSPI,TIGER 단기채권액티브,특수 목적용 기계 제조업,기업인수합병,1996-07-03 00:00:00,12월,-,http://www.taegugas.co.kr,서울특별시
freq,1,5459,1,142,37,8,2361,5,2,978
first,NaN,NaN,NaN,NaN,NaN,1956-03-03 00:00:00,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2021-02-10 00:00:00,NaN,NaN,NaN,NaN

### 파일로 저장하고 불러오기

In [19]:
#to_csv 로 Dataframe을 데이터 저장 파일 csv 파일로 바꿈
df_krx.to_csv("krx.csv", index=False)

In [20]:
#csv로 저장된 파일 df로 읽어서 확인
pd.read_csv("krx.csv")

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
...,...,...,...,...,...,...,...,...,...,...
7100,000547,KOSPI,흥국화재2우B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7101,000545,KOSPI,흥국화재우,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7102,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시
7103,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호, 염두성 (각자대표)",http://www.heerim.com,서울특별시
7104,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시