In [1]:
#필요한 라이브러리 
import pandas as pd
import numpy as np
import requests

In [2]:
#수집할 url 가져오기
url = 'https://finance.naver.com/api/sise/etfItemList.nhn?etfType=0&targetColumn=market_sum&sortOrder=desc'
url

'https://finance.naver.com/api/sise/etfItemList.nhn?etfType=0&targetColumn=market_sum&sortOrder=desc'

In [3]:
response = requests.get(url)
response

In [4]:
etf_json = response.json()
etfItemList = etf_json['result']['etfItemList']
len(etfItemList)

474

In [5]:
df = pd.DataFrame(etfItemList)
df.shape

(474, 12)

In [6]:
df.head()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,41855,5,-445,-1.05,41982.0,12.7954,7362865,308011,49263
1,102110,1,TIGER 200,41715,5,-445,-1.06,41826.0,12.8438,1348526,56272,25279
2,252670,3,KODEX 200선물인버스2X,2140,2,45,2.15,2151.0,-25.1749,346116718,741836,21657
3,153130,6,KODEX 단기채권,102760,2,15,0.01,102755.0,0.1510,42668,4384,18722
4,102780,2,KODEX 삼성그룹,9860,5,-70,-0.70,9889.0,7.5831,213818,2100,17186

In [7]:
df.tail()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
469,287300,2,KBSTAR 200건설,11395,5,-10,-0.09,11399.0,16.7520,604,6,21
470,334700,5,KBSTAR 팔라듐선물인버스(H),4710,5,-45,-0.95,NaN,-11.8803,15901,73,19
471,285020,2,KBSTAR 200철강소재,7830,5,-65,-0.82,7813.0,12.0171,1007,7,19
472,287320,2,KBSTAR 200산업재,11265,2,10,0.09,11334.0,20.8690,683,7,14
473,152280,1,KOSEF 200 선물,18750,5,-280,-1.47,18763.0,12.2082,62,1,8

## 파일로 저장

In [8]:
#파이썬 표준 라이브러리 datatime 불러옴
#날짜를 만들어 저장하기 위해 오늘 날짜를 구함
import datetime
today = datetime.datetime.today()
today = today.strftime("%Y_%m_%d")
today

'2021_03_20'

In [9]:
#f스트링 방식으로 파일명 생성
#etf_날짜_.csv
file_name = f"etf_{today}_raw.csv"
file_name

'etf_2021_03_20_raw.csv'

In [10]:
#파일로 저장하고 불러오기
#csv 형태로 저장. index가 저장 되지 않도록
df.to_csv(file_name, index=False)

In [29]:
pd.read_csv(file_name)

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,69500,1,KODEX 200,42270,2,455,1.09,42315.0,12.4603,4502445,190243,52943
1,102110,1,TIGER 200,42110,2,405,0.97,42155.0,12.6066,550345,23170,26424
2,252670,3,KODEX 200선물인버스2X,2100,5,-45,-2.10,2100.0,-24.7369,352188236,740686,19345
3,122630,3,KODEX 레버리지,26540,2,540,2.08,26697.0,24.1642,36576118,969567,19215
4,153130,6,KODEX 단기채권,102730,3,0,0.00,102731.0,0.1315,18597,1910,19113
...,...,...,...,...,...,...,...,...,...,...,...,...
469,334700,5,KBSTAR 팔라듐선물인버스(H),5255,5,-40,-0.76,NaN,-0.0944,471,2,21
470,267500,4,KBSTAR 미국장기국채선물인버스2X(합성 H),6790,2,70,1.04,NaN,17.7914,7070,47,20
471,287300,2,KBSTAR 200건설,11275,2,295,2.69,11310.0,10.7971,1270,14,20
472,285020,2,KBSTAR 200철강소재,7830,2,20,0.26,7865.0,9.4604,2407,18,19
473,287320,2,KBSTAR 200산업재,10955,2,195,1.81,10964.0,16.4502,198,2,13

In [36]:
#itemcode 숫자 앞에 0이 지워진다면, dtype={"itemcode": np.object}
df = pd.read_csv(file_name, dtype={"itemcode": np.object_})
df

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,42270,2,455,1.09,42315.0,12.4603,4502445,190243,52943
1,102110,1,TIGER 200,42110,2,405,0.97,42155.0,12.6066,550345,23170,26424
2,252670,3,KODEX 200선물인버스2X,2100,5,-45,-2.10,2100.0,-24.7369,352188236,740686,19345
3,122630,3,KODEX 레버리지,26540,2,540,2.08,26697.0,24.1642,36576118,969567,19215
4,153130,6,KODEX 단기채권,102730,3,0,0.00,102731.0,0.1315,18597,1910,19113
...,...,...,...,...,...,...,...,...,...,...,...,...
469,334700,5,KBSTAR 팔라듐선물인버스(H),5255,5,-40,-0.76,NaN,-0.0944,471,2,21
470,267500,4,KBSTAR 미국장기국채선물인버스2X(합성 H),6790,2,70,1.04,NaN,17.7914,7070,47,20
471,287300,2,KBSTAR 200건설,11275,2,295,2.69,11310.0,10.7971,1270,14,20
472,285020,2,KBSTAR 200철강소재,7830,2,20,0.26,7865.0,9.4604,2407,18,19
473,287320,2,KBSTAR 200산업재,10955,2,195,1.81,10964.0,16.4502,198,2,13

,etfTabCode,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
count,474.000000,474.000000,474.000000,474.000000,474.000000,346.000000,461.000000,4.740000e+02,474.000000,474.000000
mean,3.251055,23015.791139,2.632911,136.086498,0.783629,25726.682081,6.568241,1.085338e+06,6245.016878,1202.329114
std,1.837549,25181.225045,1.177777,239.182962,1.107666,27729.877304,10.367265,1.644277e+07,58058.464921,3812.178734
min,1.000000,2085.000000,2.000000,-1030.000000,-2.560000,2083.000000,-28.923100,0.000000e+00,0.000000,13.000000
25%,2.000000,10460.000000,2.000000,5.000000,0.000000,10795.500000,0.168600,3.355000e+02,6.000000,74.000000
50%,2.000000,13485.000000,2.000000,115.000000,0.910000,14180.500000,8.047600,4.489500e+03,59.000000,153.000000
75%,4.000000,20535.000000,2.000000,223.750000,1.400000,25381.500000,12.504700,3.407225e+04,508.250000,604.000000
max,7.000000,128020.000000,5.000000,2715.000000,5.520000,127851.000000,44.699500,3.521882e+08,969567.000000,52943.000000