In [12]:
#수집할 url 가져오기
url = 'https://finance.naver.com/api/sise/etfItemList.nhn?etfType=0&targetColumn=market_sum&sortOrder=desc'
url

'https://finance.naver.com/api/sise/etfItemList.nhn?etfType=0&targetColumn=market_sum&sortOrder=desc'

In [2]:
import pandas as pd
import numpy as np
import requests

In [13]:
response = requests.get(url)
response

In [20]:
etf_json = response.json()
etfItemList = etf_json['result']['etfItemList']
len(etfItemList)

474

In [22]:
df = pd.DataFrame(etfItemList)
df.shape

(474, 12)

In [23]:
df.head()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,41215,5,-260,-0.63,41266.0,14.1995,10741831,441008,51230
1,102110,1,TIGER 200,41040,5,-295,-0.71,41108.0,14.3556,1126933,46126,25629
2,252670,3,KODEX 200선물인버스2X,2215,2,30,1.37,2232.0,-27.0451,494560618,1103961,21893
3,153130,6,KODEX 단기채권,102725,5,-15,-0.01,102729.0,0.1510,7549,775,19141
4,102780,2,KODEX 삼성그룹,9680,5,-120,-1.22,9709.0,9.0100,363691,3505,16901

In [24]:
df.tail()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
469,334700,5,KBSTAR 팔라듐선물인버스(H),5260,2,15,0.29,NaN,-1.2242,102,0,21
470,267500,4,KBSTAR 미국장기국채선물인버스2X(합성 H),6750,5,-100,-1.46,NaN,18.7175,9220,62,20
471,287300,2,KBSTAR 200건설,10895,2,65,0.60,10882.0,19.9335,2140,23,20
472,285020,2,KBSTAR 200철강소재,7945,5,-105,-1.30,7941.0,19.5248,8614,68,19
473,287320,2,KBSTAR 200산업재,10490,5,-225,-2.10,10496.0,21.4852,139,1,13

## 파일로 저장

In [27]:
#파이썬 표준 라이브러리 datatime 불러옴
#날짜를 만들어 저장하기 위해 오늘 날짜를 구함
import datetime
today = datetime.datetime.today()
today = today.strftime("%Y-%m-%d")
today

'2021-03-09'

In [29]:
#f스트링 방식으로 파일명 생성
#etf_날짜_.csv
file_name = f"etf_{today}_raw.csv"
file_name

'etf_2021-03-09_raw.csv'

In [30]:
#파일로 저장하고 불러오기
#csv 형태로 저장. index가 저장 되지 않도록
df.to_csv(file_name, index=False)

In [31]:
pd.read_csv(file_name)

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,69500,1,KODEX 200,41215,5,-260,-0.63,41266.0,14.1995,10741831,441008,51230
1,102110,1,TIGER 200,41040,5,-295,-0.71,41108.0,14.3556,1126933,46126,25629
2,252670,3,KODEX 200선물인버스2X,2215,2,30,1.37,2232.0,-27.0451,494560618,1103961,21893
3,153130,6,KODEX 단기채권,102725,5,-15,-0.01,102729.0,0.1510,7549,775,19141
4,102780,2,KODEX 삼성그룹,9680,5,-120,-1.22,9709.0,9.0100,363691,3505,16901
...,...,...,...,...,...,...,...,...,...,...,...,...
469,334700,5,KBSTAR 팔라듐선물인버스(H),5260,2,15,0.29,NaN,-1.2242,102,0,21
470,267500,4,KBSTAR 미국장기국채선물인버스2X(합성 H),6750,5,-100,-1.46,NaN,18.7175,9220,62,20
471,287300,2,KBSTAR 200건설,10895,2,65,0.60,10882.0,19.9335,2140,23,20
472,285020,2,KBSTAR 200철강소재,7945,5,-105,-1.30,7941.0,19.5248,8614,68,19
473,287320,2,KBSTAR 200산업재,10490,5,-225,-2.10,10496.0,21.4852,139,1,13

In [1]:
#itemcode 숫자 앞에 0이 지워진다면, dtype={"itemcode: np.object"}
pd.read_csv(file_name, dtype={"itemcode": object})

NameError: name 'pd' is not defined