In [2]:
#데이터 분석을 위한 pandas, 수치계산을 위한 numpy 라이브러리 로드
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
sns.__version__

'0.11.1'

In [5]:
pd.__version__

'1.2.3'

In [ ]:
#시각화를 위한 폰트 설정
def get_font_family():
    import platform
    system_name = platform.system()

    if system_name == "Dawwin":
        font_family = "AppleGotic"
    elif system_name == "Windows":
        font_family = "Malgun Gothic"
    else:
        !apt-get update -qq
        !apt-get install fonts-nanum -qq > /dev/null

        import matplotlib.font_manager as fm

        fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothc.ttf'
        font = fm.FontProperties(fname=fontpath, size=9)
        fm._rebuild()
        font_family = "NanumBarunGothc"
    return font_family

In [5]:
df = pd.read_csv('etf_2021-03-09_raw.csv', dtype={"itemcode": object})
df.head()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,41215,5,-260,-0.63,41266.0,14.1995,10741831,441008,51230
1,102110,1,TIGER 200,41040,5,-295,-0.71,41108.0,14.3556,1126933,46126,25629
2,252670,3,KODEX 200선물인버스2X,2215,2,30,1.37,2232.0,-27.0451,494560618,1103961,21893
3,153130,6,KODEX 단기채권,102725,5,-15,-0.01,102729.0,0.1510,7549,775,19141
4,102780,2,KODEX 삼성그룹,9680,5,-120,-1.22,9709.0,9.0100,363691,3505,16901

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 474 entries, 0 to 473
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   itemcode            474 non-null    object
 1   etfTabCode          474 non-null    int64
 2   itemname            474 non-null    object
 3   nowVal              474 non-null    int64
 4   risefall            474 non-null    int64
 5   changeVal           474 non-null    int64
 6   changeRate          474 non-null    float64
 7   nav                 346 non-null    float64
 8   threeMonthEarnRate  461 non-null    float64
 9   quant               474 non-null    int64
 10  amonut              474 non-null    int64
 11  marketSum           474 non-null    int64
dtypes: float64(3), int64(7), object(2)
memory usage: 44.6+ KB

In [8]:
df['quant']

0       10741831
1        1126933
2      494560618
3           7549
4         363691
         ...
469          102
470         9220
471         2140
472         8614
473          139
Name: quant, Length: 474, dtype: int64

In [11]:
df.sort_values('quant', ascending=False).head(10)

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
2,252670,3,KODEX 200선물인버스2X,2215,2,30,1.37,2232.0,-27.0451,494560618,1103961,21893
10,114800,3,KODEX 인버스,4030,2,25,0.62,4044.0,-13.7783,93707981,378961,12199
29,251340,3,KODEX 코스닥150선물인버스,4885,2,35,0.72,4930.0,2.1052,73959414,363978,4465
6,122630,3,KODEX 레버리지,25250,5,-345,-1.35,25292.0,28.0390,57182653,1434126,16211
14,233740,1,KODEX 코스닥150 레버리지,13120,5,-140,-1.06,13041.0,-9.7038,17951068,231252,9683
0,069500,1,KODEX 200,41215,5,-260,-0.63,41266.0,14.1995,10741831,441008,51230
75,252710,3,TIGER 200선물인버스2X,2300,2,30,1.32,2311.0,-26.7742,9776084,22610,1210
33,229200,1,KODEX 코스닥 150,13570,5,-90,-0.66,13660.0,-4.0731,4826286,64914,3996
42,091170,2,KODEX 은행,7015,2,160,2.33,7032.0,11.1922,3462456,24256,2546
12,305720,2,KODEX 2차전지산업,17515,5,-635,-3.50,17515.0,28.4046,2544896,44167,11034

In [14]:
df['etfTabCode'].value_counts().sort_index()

1     64
2    179
3     31
4     97
5     14
6     55
7     34
Name: etfTabCode, dtype: int64

In [20]:
df[df['etfTabCode'] == 7]

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
38,357870,7,TIGER CD금리투자KIS(합성),50230,2,5,0.01,50229.0,0.1495,42125,2115,3147
104,182480,7,TIGER 미국MSCI리츠(합성 H),12780,2,205,1.63,NaN,2.6865,25309,322,703
117,261240,7,KODEX 미국달러선물,10110,2,65,0.65,10114.0,4.5809,178524,1803,608
158,261250,7,KODEX 미국달러선물레버리지,9435,2,110,1.18,9453.0,9.1281,331383,3134,327
164,138230,7,KOSEF 미국달러선물,11995,2,60,0.50,12018.0,4.4547,26111,313,299
182,329650,7,KODEX TRF3070,10920,2,30,0.28,10881.0,2.2535,62415,681,251
199,237370,7,KODEX 배당성장채권혼합,11675,5,-40,-0.34,11666.0,4.0408,7160,83,210
207,341850,7,TIGER KIS부동산인프라채권TR,5245,5,-10,-0.19,5251.0,1.5458,8968,47,199
233,183700,7,KBSTAR 채권혼합,63680,5,-115,-0.18,63660.0,4.0446,217,13,153
265,261120,7,TIGER 미국달러선물인버스2X,9555,5,-155,-1.60,9570.0,-8.9119,1072,10,124
269,253290,7,KBSTAR 헬스케어채권혼합,12190,5,-55,-0.45,12191.0,-5.5170,7425,90,122
274,329670,7,KODEX TRF7030,11915,5,-20,-0.17,11811.0,6.2778,1131,13,119
275,251600,7,ARIRANG 고배당주채권혼합,10785,2,40,0.37,10782.0,3.9671,7328,78,119
281,139660,7,KOSEF 미국달러선물인버스,10495,5,-70,-0.66,10495.0,-4.5619,254,2,116
284,329660,7,KODEX TRF5050,11410,5,-10,-0.09,11359.0,4.5787,3426,38,114
286,316300,7,KINDEX 싱가포르리츠,11195,5,-80,-0.71,NaN,3.2036,4299,48,112
290,183710,7,KBSTAR 주식혼합,43780,5,-120,-0.27,43750.0,9.6266,14,0,109
291,237440,7,TIGER 경기방어채권혼합,9875,5,-25,-0.25,9867.0,-1.5416,4861,47,109
296,352560,7,KODEX 다우존스미국리츠(H),11595,2,25,0.22,NaN,2.2084,919,10,104
311,241390,7,KBSTAR V&S셀렉트밸류채권혼합,12180,5,-40,-0.33,12175.0,6.0763,14084,171,97
312,342140,7,KINDEX 모닝스타싱가포르리츠채권혼합,9710,5,-160,-1.62,NaN,-0.1013,98,0,97
316,352540,7,KODEX TSE일본리츠(H),11800,2,45,0.38,NaN,12.3268,566,6,94
319,292560,7,TIGER 일본엔선물,10300,5,-10,-0.10,10337.0,0.0485,15304,157,93
330,354240,7,KBSTAR 미국고정배당우선증권ICE TR,9965,2,95,0.96,NaN,2.3858,1941,19,85
340,181480,7,KINDEX 미국다우존스리츠(합성 H),79060,2,500,0.64,NaN,1.5643,234,18,79
342,375270,7,KBSTAR 글로벌데이터센터리츠나스닥(합성),9750,2,60,0.62,NaN,NaN,1928,18,78
348,261110,7,TIGER 미국달러선물레버리지,9520,2,120,1.28,9529.0,8.9855,7155,68,76
374,238670,7,ARIRANG 스마트베타Quality채권혼합,10955,5,-45,-0.41,10976.0,3.9206,322,3,66
422,261270,7,KODEX 미국달러선물인버스,10060,5,-75,-0.74,10069.0,-4.4770,2820,28,50
435,261260,7,KODEX 미국달러선물인버스2X,9605,5,-135,-1.39,9604.0,-8.8442,44244,424,46
441,321410,7,KODEX 멀티에셋하이인컴(H),10350,5,-20,-0.19,NaN,-0.4321,237,2,41
444,292570,7,TIGER 일본엔선물레버리지,10010,2,15,0.15,10004.0,-0.2993,1385,13,40
449,292580,7,TIGER 일본엔선물인버스,9585,2,30,0.31,9602.0,-1.1382,3,0,38
457,292590,7,TIGER 일본엔선물인버스2X,8725,5,-40,-0.46,8752.0,-1.0164,14,0,35