In [2]:
#데이터 분석을 위한 pandas, 수치계산을 위한 numpy 라이브러리 로드
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
sns.__version__

'0.11.1'

In [5]:
pd.__version__

'1.2.3'

In [ ]:
#시각화를 위한 폰트 설정
def get_font_family():
    import platform
    system_name = platform.system()

    if system_name == "Dawwin":
        font_family = "AppleGotic"
    elif system_name == "Windows":
        font_family = "Malgun Gothic"
    else:
        !apt-get update -qq
        !apt-get install fonts-nanum -qq > /dev/null

        import matplotlib.font_manager as fm

        fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothc.ttf'
        font = fm.FontProperties(fname=fontpath, size=9)
        fm._rebuild()
        font_family = "NanumBarunGothc"
    return font_family

In [5]:
df = pd.read_csv('etf_2021-03-09_raw.csv', dtype={"itemcode": object})
df.head()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,41215,5,-260,-0.63,41266.0,14.1995,10741831,441008,51230
1,102110,1,TIGER 200,41040,5,-295,-0.71,41108.0,14.3556,1126933,46126,25629
2,252670,3,KODEX 200선물인버스2X,2215,2,30,1.37,2232.0,-27.0451,494560618,1103961,21893
3,153130,6,KODEX 단기채권,102725,5,-15,-0.01,102729.0,0.1510,7549,775,19141
4,102780,2,KODEX 삼성그룹,9680,5,-120,-1.22,9709.0,9.0100,363691,3505,16901