### FinanceDataReader ?
* 한국 주식 가격, 미국 주식 가격, 지수, 환율, 암호화폐 가격, 종목 리스팅 등 금융 데이터 수집 라이브러리

In [4]:
# 설치
#!pip install -U finance-datareader

In [5]:
import pandas as pd

In [6]:
#FinanceeDataReader as pdr
import FinanceDataReader as fdr

fdr.__version__

'0.9.20'

In [7]:
#!pip install beautifulsoup4

### 한국거래소 상장 종목 전체 가져오기

In [8]:
#도움말을 볼때는 ? 를 사용하고 소스코드를 볼때는 ??
#주피터 노트북에서는 함수나 메소드의 괄호 안에서 shift+ tab 키를 누르면 도움말을 볼 수 있음
fdr.StockListing??

In [9]:
#KRX 
#KOSPI
#KOSDAQ 
#KONEX 
#NASDAQ
#NYSE
#SP500

df_krx = fdr.StockListing("KRX")
df_krx.shape

(7105, 10)

In [10]:
df_krx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7105 entries, 0 to 7104
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          7105 non-null   object
 1   Market          7105 non-null   object
 2   Name            7105 non-null   object
 3   Sector          2422 non-null   object
 4   Industry        2403 non-null   object
 5   ListingDate     2422 non-null   datetime64[ns]
 6   SettleMonth     2422 non-null   object
 7   Representative  2422 non-null   object
 8   HomePage        2246 non-null   object
 9   Region          2422 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 610.6+ KB

In [11]:
#object 타입은 문자열
#기술통계 값을 요약

df_krx.describe()

/Users/jin/opt/anaconda3/envs/jin_env/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  after removing the cwd from sys.path.

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
count,7105,7105,7105,2422,2403,2422,2422,2422,2246,2422
unique,7105,3,7105,158,2250,1784,9,2308,2225,22
top,55FF08,KOSPI,미래FB79KOSPI200콜,특수 목적용 기계 제조업,기업인수합병,1996-07-03 00:00:00,12월,-,http://www.poongsan.co.kr,서울특별시
freq,1,5459,1,142,37,8,2361,5,2,978
first,NaN,NaN,NaN,NaN,NaN,1956-03-03 00:00:00,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2021-02-10 00:00:00,NaN,NaN,NaN,NaN

### 파일로 저장하고 불러오기

In [8]:
#to_csv 로 Dataframe을 데이터 저장 파일 csv 파일로 바꿈
df_krx.to_csv("krx.csv", index=False)

In [9]:
#csv로 저장된 파일 df로 읽어서 확인
pd.read_csv("krx.csv")

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
...,...,...,...,...,...,...,...,...,...,...
7100,000547,KOSPI,흥국화재2우B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7101,000545,KOSPI,흥국화재우,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7102,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시
7103,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호, 염두성 (각자대표)",http://www.heerim.com,서울특별시
7104,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시

In [10]:
df = pd.read_csv("krx.csv")
df.shape

(7105, 10)

### 상장종목 목록 사용하기
* 종목명과 심볼을 찾기 위해 상장 종목 목록 사용

In [12]:
df_krx

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
...,...,...,...,...,...,...,...,...,...,...
7100,000547,KOSPI,흥국화재2우B,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7101,000545,KOSPI,흥국화재우,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7102,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시
7103,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호, 염두성 (각자대표)",http://www.heerim.com,서울특별시
7104,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시

In [13]:
df_krx[["Symbol", "Name"]].head()

   Symbol    Name
0  060310      3S
1  095570  AJ네트웍스
2  006840   AK홀딩스
3  054620  APS홀딩스
4  265520   AP시스템

In [13]:
df_krx["Name"]

0            3S
1        AJ네트웍스
2         AK홀딩스
3        APS홀딩스
4         AP시스템
         ...
7100    흥국화재2우B
7101      흥국화재우
7102       흥아해운
7103         희림
7104         힘스
Name: Name, Length: 7105, dtype: object

In [14]:
item_name = "빅히트"
df_krx.loc[df_krx["Name"] == item_name,"Symbol"]
df_krx.loc[df_krx["Name"] == item_name,"Symbol"].tolist()[0]

'352820'

In [15]:
df_krx.loc[df_krx["Name"] == item_name,"Symbol"].tolist()[0]

'352820'

### 종목명으로 종목 코드 받아오는 함수 만들기

In [23]:
# 종목명으로 종목 코드 ㅂ다아오는 함수 만들기
# df_krx의 Name column 에서 같은 값이 있으면 Row의 Symbol 컬럼 값을 List 로 name_list에
def item_code_by_item_name(item_name):
    """
    종목명을 받아서 종목 코드를 찾아 반환하는 함수
    """
    item_code_list = df_krx.loc[df_krx["Name"] == item_name, "Symbol"].tolist()
    if len(item_code_list) > 0:
        return item_code_list

In [24]:
item_code_by_item_name("카카오게임즈")

['293490']

In [26]:
fdr.DataReader(item_code_by_item_name("삼성전자"))

AttributeError: 'list' object has no attribute 'isdigit'

In [28]:
df = df_krx
df

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
...,...,...,...,...,...,...,...,...,...,...
7100,000547,KOSPI,흥국화재2우B,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7101,000545,KOSPI,흥국화재우,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7102,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시
7103,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호, 염두성 (각자대표)",http://www.heerim.com,서울특별시
7104,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시

In [41]:
#하나의 행만 가져오기
df["Name"]

0            3S
1        AJ네트웍스
2         AK홀딩스
3        APS홀딩스
4         AP시스템
         ...
7100    흥국화재2우B
7101      흥국화재우
7102       흥아해운
7103         희림
7104         힘스
Name: Name, Length: 7105, dtype: object

### 데이터 색인하기
 * Series

In [42]:
type(df["Name"])

pandas.core.series.Series

In [43]:
#특정 값만 가져오기
df.loc[0]

Symbol                          060310
Market                          KOSDAQ
Name                                3S
Sector                   특수 목적용 기계 제조업
Industry                   반도체 웨이퍼 캐리어
ListingDate        2002-04-23 00:00:00
SettleMonth                        03월
Representative      박종익, 김세완 (각자 대표이사)
HomePage          http://www.3sref.com
Region                           서울특별시
Name: 0, dtype: object

In [44]:
type(df.loc[0])

pandas.core.series.Series

In [47]:
#df 변수 타입 - DataFrame
type(df)

pandas.core.frame.DataFrame

In [51]:
# 여러 컬럼을 지정할때는 리스트 형태로 묶어야 함
# 2차원 행렬은 대괄호가 [] 2개
df[["Name","Symbol"]].head()

     Name  Symbol
0      3S  060310
1  AJ네트웍스  095570
2   AK홀딩스  006840
3  APS홀딩스  054620
4   AP시스템  265520

In [54]:
#여러개의 행을 가지고 올때도 [] 대괄호 2개 리스트 형태로 묶어줌
df.loc[[0,3,5,7]]

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
5,211270,KOSDAQ,AP위성,통신 및 방송 장비 제조업,위성통신 단말기,2016-03-04,12월,류장수,http://www.apsi.co.kr,서울특별시
7,295820,KOSPI,ARIRANG 200동일가중,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [56]:
#1개의 컬럼을 가져올 때 대괄호 2개 써서 리스트 형태로 묶어주면 데이터 프레임 형태
df[["Name"]]
type(df[["Name"]])

pandas.core.frame.DataFrame

In [57]:
type(df["Name"])

pandas.core.series.Series